.style{
  text-align:center;
  justify-content:center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 200px;
 }
 .card{
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   padding: 50px;
   margin-bottom:20px;
   transition: 0.3s;
   /* height: 300px; */
   width:200px;
   margin-left: 20px;
   border-radius: 20px;
   color: black;
  cursor: pointer;
 }
 .image{
   align-items: center;
 }
 
 .card:hover {
   box-shadow: 0 30px 50px 0 rgba(0,0,0,0.2);
 }
 
 .container{
   padding: 10px;
 }
 .for-btn {
   border-radius:20px;
 }
 